* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ccc;
  text-align: center;
}

h1 {
  height: 100px;

}


select {
	text-align: center;
 	height: auto;
 	width: auto;
 	font-size: 15px;
 }

h2{
 height: 100px;
}



